# Base de données
DB_NAME=paternum
DB_USER=paternum
DB_PASS=changeme
DB_HOST=postgres
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379

# App
PORT=4000
JWT_SECRET=change_this_secret_key
NODE_ENV=development

# Uploads
UPLOAD_DIR=/app/uploads
MAX_FILE_SIZE=50mb
